<nav class="navbar navbar-default navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false"
                    data-target="#navbar" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                CharIoT
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#if main}}
                <li class="active"><a href="/">Main Panel <span class="sr-only">(current)</span></a></li>
                {{else}}
                    <li><a href="/">Main Panel</a></li>
                {{/if}}
                {{#if stats}}
                    <li class="active"><a href="#">Stats <span class="sr-only">(current)</span></a></li>
                {{else}}
                    <li><a href="#">Stats</a></li>
                {{/if}}
                {{#if setting}}
                    <li class="active"><a href="#">Settings <span class="sr-only">(current)</span></a></li>
                {{else}}
                    <li><a href="#">Settings</a></li>
                {{/if}}
            </ul>
            <a class="btn btn-default navbar-btn btn-sm pull-right btn-danger" href="/logout">
                <i class="glyphicon glyphicon-log-out"></i> Sign Out
            </a>
        </div>
    </div>
</nav>
