<div>
    <div class="col-md-4 device_box" id="\{{id}}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-cloud"></i> \{{device_name}}
                <div class="pull-right device-dropdown-menu">
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs dropdown-toggle"
                                data-toggle="dropdown" type="button" aria-expanded="false">
                            <i class="caret"></i>
                        </button>
                        <ul role="menu" class="dropdown-menu pull-left">
                            <li><a style="cursor: pointer;" data-toggle="modal"
                                   data-target="#edit-device" data-id="\{{id}}"
                                   data-dev_name="\{{device_name}}" data-location="\{{location}}"
                                   data-desc="\{{description}}">Edit</a>
                            </li>
                            <li class="divider"></li>
                            <li><a style="cursor: pointer;" onclick="delete_device(\{{id}}.id)">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="glyphicon glyphicon-info-sign device-panel-info" data-toggle="popover" data-placement="top"
                      data-title="Network info"
                      data-content="<b>SSID:</b> \{{ssid}}<br>
                                    <b>Password:</b> <kbd>\{{wifi_key}}</kbd>">
                </span>
            </div>
            <a class="box_link" href="/dev/\{{id}}">
                <div class="panel-body">
                    <b>Location:</b> \{{location}} <br>
                    <b>Description:</b> \{{description}} <br>
                    <b>Device ID:</b> <span id="device_manuf_\{{id}}">N/A</span>
                </div>
            </a>
        </div>
    </div>
</div>