<div class="modal fade" id="edit-device" tabindex="-1" role="dialog" aria-labelledby="editNewDevice">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editDeviceTitle">Edit Device</h4>
            </div>
            <div class="modal-body">
                <div id="inputs" class="text-center">
                    <div class="row">
                        <div class="col-md-3 text-right">Name:</div>
                        <div class="col-md-9"><input type="text" id="dev_name_up" placeholder="Device name"
                                                     class="form-control"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">Location:</div>
                        <div class="col-md-9"><input type="text" id="dev_loc_up"
                                                     placeholder="Device location"
                                                     class="form-control"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">Description:</div>
                        <div class="col-md-9"><input type="text" id="dev_desc_up" placeholder="More detailed"
                                                     class="form-control"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="update_device()" class="btn btn-primary" data-dismiss="modal">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>