<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Blacklist
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="blacklist-table" class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>TCP/UDP</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">2</th>
                            <td>8.7.7.7</td>
                            <td>65</td>
                            <td>TCP</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>8.7.7.7</td>
                            <td>65</td>
                            <td>UDP</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>8.7.7.7</td>
                            <td>65</td>
                            <td>Both</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>

                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>8.7.7.7</td>
                            <td>65</td>
                            <td>TCP</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>

                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>8.7.7.7</td>
                            <td>65</td>
                            <td>TCP</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Port Forwarding
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="portforward-table" class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>From port</th>
                            <th>To port</th>
                            <th>TCP/UDP</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">2</th>
                            <td>65</td>
                            <td>65</td>
                            <td>TCP</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>2000</td>
                            <td>2000</td>
                            <td>UDP</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>44</td>
                            <td>44</td>
                            <td>Both</td>
                            <td><button class="btn btn-danger btn-xs">X</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>