<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default log-panel log-stat-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="panel-title">
                            DNS Traffic Log
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-8 pull-right">
                        <form class="form-inline">
                            <div class="form-group input-group-sm pull-right">
                                <label for="searchbox_full_dns">Search: </label>
                                <input id="searchbox_full_dns" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="dns-log-table" class="table table-striped">
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default log-panel log-stat-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="panel-title">
                            Connections Log
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-8 pull-right">
                        <form class="form-inline">
                            <div class="form-group input-group-sm pull-right">
                                <label for="searchbox_con_log">Search: </label>
                                <input id="searchbox_con_log" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="connection-log-table" class="table table-striped">
                </table>
            </div>
        </div>
    </div>
</div>
