<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Device Properties
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><span class="prop_attr_title">Name&nbsp&nbsp</span>{{name}}</li>
                <li class="list-group-item"><span class="prop_attr_title">Location&nbsp&nbsp</span>{{location}}</li>
                <li class="list-group-item"><span class="prop_attr_title">Unique ID&nbsp&nbsp</span>{{id}}</li>
                <li class="list-group-item"><span class="prop_attr_title">WiFi SSID&nbsp&nbsp</span>{{ssid}}
                </li>
                <li class="list-group-item"><span
                        class="prop_attr_title">WiFi password&nbsp&nbsp</span><kbd>{{key}}</kbd></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    WiFi Signal
                </div>
            </div>
            <div class="panel-body">
                <div class="chart" id="wifi_chart" data-percent="0"><span class="percent"></span></div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div id="main-bandwidth-panel" class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Bandwidth
                </div>
            </div>
            <div class="panel-body">
                <div id="streamChart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default log-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="panel-title">
                            Top DNS Requests
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-8 pull-right">
                        <form class="form-inline">
                            <div class="form-group input-group-sm pull-right">
                                <label for="searchbox">Search: </label>
                                <input id="searchbox" type="text" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="top-dns-table" class="table table-striped">
                </table>
            </div>
        </div>
    </div>
</div>
