<div class="modal fade" id="add-new-device" tabindex="-1" role="dialog" aria-labelledby="addNewDevice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addNewDeviceLabel">New Device Wizard</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="info_1" class="text-center">
                        <h1>Please Wait</h1><br>
                        <div class="loader" style="text-align:center; margin:auto"></div>
                    </div>
                </div>
                <div id="inputs" class="text-center hide">
                    <div class="row">
                        <div class="col-md-3 text-right">Name:</div>
                        <div class="col-md-6"><input type="text" id="dev_name" placeholder="Enter device name"
                                                     class="form-control"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">Location:</div>
                        <div class="col-md-6"><input type="text" id="dev_loc"
                                                     placeholder="Device location e.g. kitchen"
                                                     class="form-control"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">Description:</div>
                        <div class="col-md-6"><input type="text" id="dev_desc" placeholder="More detailed description"
                                                     class="form-control"></div>
                    </div>
                </div>

                </div>
                <div id='modal-buttons' class="modal-footer hide">
                    <button type="button" onclick="delete_device($('#dev_id').text());" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="sendBtn()" class="btn btn-primary" data-dismiss="modal">Save device</button>
                </div>
            </div>
        </div>
    </div>