<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Last Hour</a></li>
                <li role="presentation"><a href="#">Last Day</a></li>
                <li role="presentation"><a href="#">Last 3 Days</a></li>
                <li role="presentation"><a href="#">Last Month</a></li>
                <li role="presentation"><a href="#">Last 3 Months</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading"><div class="panel-title">Bandwidth</div></div>
                <div class="panel-body">
                    <div id="bandwidthChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>