<!DOCTYPE html>
<html>
  <head>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" href="/components/bootswatch/slate/bootstrap.min.css">
      <link rel="stylesheet" href="/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
      <link rel='stylesheet' href="/stylesheets/style.css" />
      <link rel='stylesheet' href="/stylesheets/flags.min.css" />
      <meta charset="UTF-8">
      <!-- If IE use the latest rendering engine -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>IoT-Server</title>
  </head>
  <body>
  {{{body}}}
  </body>
</html>
