<div id="fullscreen_bg" class="fullscreen_bg">
    <div class="container">
        <form class="form-signin" role="form" action="/login" method="post">
            <h1 class="form-signin-heading text-muted">Sign In</h1>
            <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="">
            <input type="password" class="form-control" name="password" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign In
            </button>
        </form>
    </div>
</div>