{{>bar}}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Device Information</h3>
                </div>
                <ul class="list-group" id="dev-info-list">
                    <li class="list-group-item"><b>Device Version:</b> 1.0.1</li>
                    <li class="list-group-item"><b>Uptime:</b> <span id="uptime">N/A</span></li>
                    <li class="list-group-item"><b>Connection:</b> <span id="conn">N/A</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div id="notification_panel" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-bell"></i>
                        Notifications</h3>
                </div>
                <div class="panel-body">
                    <div id="conn_error_msg" class="alert alert-danger hide" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Check connection or wait for connection
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" id="iot-devices-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Your IoT Devices
                        <div class="pull-right">
                            <div class="btn-group">
                                <a class="btn btn-default btn-xs disabled" data-toggle="modal"
                                   data-target="#add-new-device" id="new_device_btn">
                                    <i class="glyphicon glyphicon-plus"></i> Add new device
                                </a>
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" id="device-panels">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!--Modals--}}
{{>newdevicemodal}}
{{>editdevicemodal}}
<script src="/components/handlebars/handlebars.min.js"></script>
<script src="/components/socket.io-client/dist/socket.io.min.js"></script>
<script src="/components/spin.js/spin.min.js"></script>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/bootbox.js/bootbox.js"></script>
<script>
    var opts = {
        lines: 11 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 0.7 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.15 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 50 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '42%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
    };
    var spinner = new Spinner(opts).spin();
    var socket = io.connect('/main');
    socket.on('conn', function (data) {
        $('#conn').text(data.conn);
        if (data.conn === 'OK') {
            $("#conn_error_msg").addClass("hide");
            $("#new_device_btn").removeClass("disabled");
            $("#device-panels").removeClass("disabled");
        } else if (data.conn === 'Not Connected') {
            $("#conn_error_msg").removeClass("hide");
            $("#device-panels").addClass("disabled");
            $("#new_device_btn").addClass("disabled");
            $("#device-panels .panel").removeClass("panel-success");
            $("#device-panels .panel").removeClass("panel-danger");
            $("#device-panels .device_box").css("opacity", "0.3");
            if ($("#device-panels .device_box .spinner").length === 0) {
                $("#device-panels .device_box").append(spinner.el);
            }
        } else {
            $("#conn_error_msg").addClass("hide");
            $("#device-panels").addClass("disabled");
            $("#new_device_btn").addClass("disabled");
            $("#device-panels .panel").removeClass("panel-success");
            $("#device-panels .panel").removeClass("panel-danger");
            $("#device-panels .device_box").css("opacity", "0.3");
            if ($("#device-panels .device_box .spinner").length === 0) {
                $("#device-panels .device_box").append(spinner.el);
            }
        }
    });
    socket.on('uptime', function (data) {
        $('#uptime').text(data.uptime);
    });
    socket.on('all_net', function (data) {
        $('#device-panels').empty();
        $.get('/get_dev_panel', function (result) {
            var template = $(result).html();
            for (var i = 0; i < data.length; i++) {
                var compiledTemplate = Handlebars.compile(template);
                var htmlString = compiledTemplate({
                    id: data[i].id,
                    device_name: data[i].name,
                    location: data[i].location,
                    description: data[i].description,
                    ssid:  data[i].ssid,
                    wifi_key:  data[i].key
                });
                var parser = new DOMParser();
                var newNode = parser.parseFromString(htmlString, "text/html");
                newNode.body.firstChild.style.opacity = "0.3";
                document.getElementById("device-panels").appendChild(newNode.body.firstChild);
            }
            if ($("#device-panels .device_box .spinner").length === 0) {
                $("#device-panels .device_box").append(spinner.el);
            }
            $('[data-toggle="popover"]').popover({
                trigger: "hover",
                html: true
            });

        });

    });

    socket.on('device_ids', function (data) {
        if (data !== "N/A") {
            for (var i = 0; i < data.length; i++) {
                document.getElementById("device_manuf_" + data[i].id).innerText = data[i].mac;
                $("#" + data[i].id).removeAttr("style");
                $("#" + data[i].id + " .spinner").remove();
                if (data[i].mac === "No station connected") {
                    $("#" + data[i].id + " .panel").removeClass("panel-success");
                    $("#" + data[i].id + " .panel").addClass("panel-danger");
                } else {
                    $("#" + data[i].id + " .panel").addClass("panel-success");
                    $("#" + data[i].id + " .panel").removeClass("panel-danger");
                }
            }
        }
    });

    document.getElementById("new_device_btn").onclick = function () {
        newdeviceclick()
    };

    function newdeviceclick() {
        socket.emit('new_wifi_net');
    }

    function delete_device(i_Id) {
        bootbox.confirm({
            title: "Device Removal",
            size: "small",
            message: '<b>Are you sure you want to remove this device?</b> ' +
            '<br> This action is irreversible. ' +
            '<br> ALL RECORD WILL BE LOST!',
            buttons: {
                confirm: {
                    label: 'Delete',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'Cancel'
                }
            },
            callback: function (is_confirm) {
                if (is_confirm){
                    socket.emit('delete_device', i_Id);
                }
            }
        });
    }

    socket.on('new_wifi_net', function (data) {
        var htmlString = "Please connect to this Network: <br>" +
                "<b>Network name:</b> " + "<span id=\"ssid\">" + data.new_wifi_ssid + "</span>" + "<br>" +
                "<b>Password:</b> " + "<span id=\"wifi_key\"><kbd>" + data.new_wifi_key + "<kbd></span>" +
                "<span id=\"dev_id\" class=\"hide\">" + data.id + "</span>";
        if (data.new_wifi_key !== undefined) {
            $('#info_1').html(htmlString);
            $('#modal-buttons').removeClass('hide');
            $('#inputs').removeClass('hide');
        }
    });
    var sendBtn = function () {
        console.log(document.getElementById("dev_id").value);
        var data = {
            'id': document.getElementById("dev_id").innerText,
            'ssid': document.getElementById("ssid").innerText,
            'key': document.getElementById("wifi_key").innerText,
            'name': document.getElementById("dev_name").value,
            'location': document.getElementById("dev_loc").value,
            'description': document.getElementById("dev_desc").value
        };
        socket.emit('update_new_device_to_db', data);
        document.getElementById("dev_name").value = "";
        document.getElementById("dev_loc").value = "";
        document.getElementById("dev_desc").value = "";
    };
    $('#edit-device').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var dev_id = button.data('id');
        var dev_name = button.data('dev_name');
        var dev_loc = button.data('location');
        var dev_desc = button.data('desc');

        var modal = $(this);
        $('#dev_desc_up').val(dev_desc);
        $('#dev_loc_up').val(dev_loc);
        $('#dev_name_up').val(dev_name);
        modal.find('.modal-dialog').prop('id', dev_id);
    });
    var update_device = function () {
        var data = {
            'id': $('#edit-device').find('.modal-dialog').attr('id'),
            'name': $('#dev_name_up').val(),
            'location': $('#dev_loc_up').val(),
            'description': $('#dev_desc_up').val()
        };
        socket.emit('update_device', data);
    };

    $(".info-popover").popover({trigger: "hover"});

</script>
{{>footer}}
