{{>bar}}
<div class="container">
    <div class="row">
        <h1 id="dev_title">{{name}}
            <small>Location: {{location}}</small>
        </h1>
    </div>
    <div class="row">
        <!-- Nav tabs -->
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab"
                                                      data-toggle="tab">Main</a></li>
            <li role="presentation"><a href="#logs" aria-controls="logs" role="tab" data-toggle="tab">Traffic Logs</a>
            </li>
            <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Statistics</a>
            </li>
            <li role="presentation"><a href="#firewall" aria-controls="firewall" role="tab"
                                       data-toggle="tab">Firewall</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="main">
                {{>main_managedevice}}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="logs">
                {{>logs_managedevice}}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="stats">
                {{>stats_managedevice}}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="firewall">
                {{>firewall_managedevice}}
            </div>
        </div>
    </div>

</div>
<link rel="stylesheet" href="/components/vis/dist/vis.min.css">
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/socket.io-client/dist/socket.io.min.js"></script>
<script src="/components/vis/dist/vis.min.js"></script>
<script src="/components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script src="/components/spin.js/spin.min.js"></script>
<script>
    String.prototype.format = function () {
        var str = this;
        for (var i = 0; i < arguments.length; i++) {
            var reg = new RegExp("\\{" + i + "\\}", "gm");
            str = str.replace(reg, arguments[i]);
        }
        return str;
    };
    var opts = {
        lines: 11 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 0.7 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.15 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 50 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '42%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
    };
    var spinner = new Spinner(opts).spin();
    var dev_id = "{{id}}";
    var graph2d;
    function loadChart(){
        $.get('/tx_bytes/hourly/' + dev_id, function (data) {
            var dataset = new vis.DataSet(data);
            var min_y = data[0].y,
                max_y = data[0].y;
            for (var d in data){
                if (data[d].y > max_y){
                    max_y = data[d].y
                }
                if (data[d].y < min_y){
                    min_y = data[d].y
                }
            }
            var container = document.getElementById('bandwidthChart');
            var options = {
                shaded: {
                    orientation: 'bottom'
                },
                drawPoints: {
                    style: "circle",
                    size: 4
                },
                dataAxis: {
                    showMinorLabels: true,
                    alignZeros: false,
                    left: {
                        title: {
                            text: "Bytes",
                            style: "color: white;"
                        },
                        range: {
                            min: 0
//                            max: max_y
                        },
                        format: function (value) {
                            if(value === 0) return '0 Bytes';
                            var k = 1000,
                                    dm = 2,
                                    sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                                    i = Math.floor(Math.log(value) / Math.log(k));
                            return parseFloat((value / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                        }
                    }
                },
                zoomMin: 1000 * 60 * 60
//        height: "190px"
//        start: '2014-06-10',
//        end: '2014-06-18'
            };
            graph2d = new vis.Graph2d(container, dataset, options);
            graph2d.setOptions({
                min: graph2d.getDataRange()['min'],
                max: graph2d.getDataRange()['max']

            });

        });
    }

    var socket = io.connect("/dev");
    socket.on('connect', function () {
        socket.emit('subscribe', dev_id);
    });

    socket.on('signal', function (data) {
        var easyChart = window.chart = $('#wifi_chart').data('easyPieChart');
        if (data==="N/A"){
            easyChart.update(0);
        } else {
            easyChart.update(data);
        }
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        if ($(e.target).attr("href") === '#logs') {
            if (!$.fn.DataTable.isDataTable('#connection-log-table')){
                $('.log-stat-panel table').append(spinner.el);
                create_dns_log_tbl();
                create_conn_log_tbl();
            }
        } else if ($(e.target).attr("href") === '#stats') {
            loadChart();
        }

    });

    $(document).ready(function () {
        $('#top-dns-table').append(spinner.el);
        $('.chart').easyPieChart({
            easing: 'easeOutElastic',
            delay: 3000,
            barColor: '#258769',
            trackColor: false,
            scaleColor: false,
            lineWidth: 20,
            trackWidth: 16,
            lineCap: 'butt',
            onStep: function(from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        });
        create_top_dns_tbl();
        $('#blacklist-table').DataTable({
            'ordering': false
        });
        $('#portforward-table').DataTable({
            'ordering': false
        });
    });

    function create_dns_log_tbl() {
        $.get('/get_dns_log/' + dev_id, function (data) {
            if (data !== "not found") {
                var table = $('#dns-log-table').DataTable({
                    "dom": "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "lengthChange": false,
                    "processing": true,
                    "bFilter": true,
                    "order": [[0, 'desc']],
                    initComplete: function(settings, json) {
                        $('#dns-log-table .spinner').remove();
                    },
                    data: data,
                    columns: [
                        {
                            "title": "Timestamp",
                            "data": "ts"
                        },
                        {
                            "title": "Domain",
                            "data": "domain"
                        },
                        {
                            "title": "IP",
                            "data": "ip",
                            "render": function (data, type, row) {
                                if (row.hasOwnProperty('geo')) {
                                    return data + ' <i class="flag flag-{0}" title="{1}"></i>'
                                                    .format(row['geo'].toLowerCase(), row['geo']);
                                }
                                else return data;
                            },
                            "defaultContent": "N/A"
                        },
                        {
                            "title": "Block",
                            "orderable": false,
                            "render": function (data, type, row) {
                                var ret_string = "";
                                if (row.hasOwnProperty('domain') && row.hasOwnProperty('ip')) {
                                    ret_string = '<a class="btn btn-danger btn-xs" data-toggle="modal" ' +
                                            'data-target="#block" data-domain="{0}" data-ip="{1}">Block</a>'
                                                    .format(row['domain'], row['ip']);
                                } else if (row.hasOwnProperty('domain')) {
                                    ret_string = '<a class="btn btn-danger btn-xs" data-toggle="modal" ' +
                                            'data-target="#block" data-domain="{0}">Block</a>'
                                                    .format(row['domain']);
                                } else {
                                    ret_string = '<a class="btn btn-danger btn-xs disabled" data-toggle="modal" ' +
                                            'data-target="#block">Block</a>';
                                }
                                return ret_string;
                            }
                        }
                    ]
                });
                $("#searchbox_full_dns").on('keyup', function () {
                    table.search(this.value).draw();
                });
            }
        });
    }

    function create_conn_log_tbl() {
        $.get('/get_conn_log/' + dev_id, function (data) {
            if (data !== "not found") {
                var table = $('#connection-log-table').DataTable({
                    "dom": "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "lengthChange": false,
                    "processing": true,
                    "bFilter": true,
                    "order": [[0, 'desc']],
                    initComplete: function(settings, json) {
                        $('#connection-log-table .spinner').remove();
                    },
                    data: data,
                    columns: [
                        {
                            "title": "Timestamp",
                            "data": "timestamp"
                        },
                        {
                            "title": "Connection count",
                            "data": "count"
                        },
                        {
                            "title": "IP",
                            "data": "ip",
                            "render": function (data, type, row) {
                                if (row.hasOwnProperty('geo')) {
                                    return data + ' <i class="flag flag-{0}" title="{1}"></i>'
                                                    .format(row['geo'].toLowerCase(), row['geo']);
                                }
                                else return data;
                            },
                            "defaultContent": "N/A"
                        },
                        {
                            "title": "Port",
                            "data": "port",
                            "render": function (data, type, row) {
                                if (row.hasOwnProperty('service')) {
                                    return data + ' ({0})'.format(row['service']);
                                } else{
                                    return data + ' (<b>Unknown</b>)';
                                }
                            }
                        },
                        {
                            "title": "Block",
                            "orderable": false,
                            "render": function (data, type, row) {
                                var ret_string = "";
                                if (row.hasOwnProperty('ip')) {
                                    ret_string = '<a class="btn btn-danger btn-xs" data-toggle="modal" ' +
                                            'data-target="#block" data-ip="{0}">Block</a>'
                                                    .format(row['ip']);
                                } else {
                                    ret_string = '<a class="btn btn-danger btn-xs disabled" data-toggle="modal" ' +
                                            'data-target="#block">Block</a>';
                                }
                                return ret_string;
                            }
                        }
                    ]
                });
                $("#searchbox_con_log").on('keyup', function () {
                    table.search(this.value).draw();
                });
            }
        });
    }


    function create_top_dns_tbl() {
        $.get('/get_top_dns_queries/' + dev_id, function (data) {
            if (data !== "not found") {
                var table = $('#top-dns-table').DataTable({
                    "dom": "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    "lengthChange": false,
                    "processing": true,
                    "bFilter": true,
                    "order": [[0, 'desc']],
                    initComplete: function(settings, json) {
                        $('#top-dns-table .spinner').remove();
                    },
                    data: data,
                    columns: [
                        {
                            "title": "Requests #",
                            "data": "count"
                        },
                        {
                            "title": "Domain",
                            "data": "_id"
                        },
                        {
                            "title": "IP",
                            "data": "ip",
                            "render": function (data, type, row) {
                                if (row.hasOwnProperty('geo')) {
                                    return data + ' <i class="flag flag-{0}" title="{1}"></i>'
                                                    .format(row['geo'].toLowerCase(), row['geo']);
                                }
                                else return data;
                            },
                            "defaultContent": "N/A"
                        },
                        {
                            "title": "Timestamp",
                            "data": "timestamp"
                        },
                        {
                            "title": "Block",
                            "orderable": false,
                            "render": function (data, type, row) {
                                var ret_string = "";
                                if (row.hasOwnProperty('_id') && row.hasOwnProperty('ip')) {
                                    ret_string = '<a class="btn btn-danger btn-xs" data-toggle="modal" ' +
                                            'data-target="#block" data-domain="{0}" data-ip="{1}">Block</a>'
                                                    .format(row['_id'], row['ip']);
                                } else if (row.hasOwnProperty('_id')) {
                                    ret_string = '<a class="btn btn-danger btn-xs" data-toggle="modal" ' +
                                            'data-target="#block" data-domain="{0}">Block</a>'
                                                    .format(row['_id']);
                                } else {
                                    ret_string = '<a class="btn btn-danger btn-xs disabled" data-toggle="modal" ' +
                                            'data-target="#block">Block</a>';
                                }
                                return ret_string;
                            }
                        }
                    ]
                });
                $("#searchbox").on('keyup', function () {
                    table.search(this.value).draw();
                });
            }
        });
    }

    var DELAY = 5000; // delay in ms to add new data points

    var strategy = {value: 'continuous'};

    // create a graph2d_rt with an (currently empty) dataset
    var container =  document.getElementById('streamChart');
    var dataset = new vis.DataSet();

    var options = {
        start: vis.moment().add(-30, 'seconds'), // changed so its faster
        end: vis.moment(),
        dataAxis: {
            left: {
                range: {
                    min:0
//                    max: 100000000
                },
                format: function (value) {
                    if(value === 0) return '0 Bytes';
                    var k = 1000,
                            dm = 2,
                            sizes = ['Byte/s', 'KB/s', 'MB/s', 'GB/s', 'TB/s', 'PB/s', 'EB/s', 'ZB/s', 'YB/s'],
                            i = Math.floor(Math.log(value) / Math.log(k));
                    return parseFloat((value / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                }
            }
        },
        drawPoints: {
            style: 'circle' // square, circle
        },
        shaded: {
            orientation: 'bottom' // top, bottom
        },
        height: "220px",
        clickToUse: false,
        moveable: false,
        zoomable: false
    };
    var graph2d_rt = new vis.Graph2d(container, dataset, options);

    function renderStep() {
        // move the window (you can think of different strategies).
        var now = vis.moment();
        var range = graph2d_rt.getWindow();
        var interval = range.end - range.start;
        graph2d_rt.setWindow(now - interval, now, {animation: false});
        requestAnimationFrame(renderStep);
    }
    renderStep();

    /**
     * Add a new datapoint to the graph
     */
    function addDataPoint(result) {
        // add a new data point to the dataset
        var now = vis.moment();
        dataset.add({
            x: result['x'],
            y: result['y']
        });

        // remove all data points which are no longer visible
        var range = graph2d_rt.getWindow();
        var interval = range.end - range.start;
        var oldIds = dataset.getIds({
            filter: function (item) {
                return item.x < range.start - interval;
            }
        });
        dataset.remove(oldIds);
    }
    socket.on('rt_tx', function (data) {
        addDataPoint(data);
    });
</script>
{{>footer}}
