<div class="container">
    <h1>Register Page</h1>
    <p class="lead">Say something worthwhile here.</p><br>
    <form role="form" action="/register" method="post" style="max-width: 300px;">
        <div class="form-group">
            <input type="text" name="username" placeholder="Enter Username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/">
            <button type="button" class="btn btn-primary">Cancel</button>
        </a>
    </form>
</div>