.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/bg3.png');
    background-repeat: repeat;
}

.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 60px;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 25px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.glyphicon {
    width: 1.28571em;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}

.footer > .container {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar-static-top {
    background-color: #f5f5f5;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#inputs > .row {
    margin-top: 5px;
}

#edit-device .col-md-3 {
    padding-left: 10px;
}

.nav-tabs > li > a {
    background-color: #292b31;
    border-color: #1c1e22 #1c1e22 transparent;
}

#dev_title{
    margin: 15px 0 25px;
}
.tab-content{
    margin-top: 15px;
}
.dt-bootstrap{
    margin: 10px;
}
.prop_attr_title{
    font-weight: bold;
    color: #EDECE8;
    font-size: 16px;
}

.box_link{
    display: block;

}
.box_link:hover, .box_link:active{
    text-decoration: none;
    background-color: #272b30;
}

.device-panel-info{
    font-size: 16px;
    float: right;
    margin-top: 3px;
    margin-right: 14px;

}
.popover-title{
    background-color: #3E444C;
}
.popover{
    width: 200px;
}
.log-panel .panel-title{
    font-size: 19px;
}
.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 40px 15px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-size: 18px;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
.panel-default .table-responsive{
    min-height: 521px;
}
#notification_panel .panel-body{
    min-height: 125px;
    max-height: 125px;
    padding: 0;
}
#main-bandwidth-panel .panel-body{
    min-height: 220px;
    max-height: 220px;
    padding: 0;
}

#streamChart > .vis-timeline{
    border-width: 0 !important;
}